<%- partial('header') %>


<main role="main">
  <%- partial('blog/writings', {
    post: site.posts.first(),
    entries: site.posts.slice(1, 5),
    readingNotes: site.posts.find({ layout: 'reading-note' }).sort('date', -1).limit(4),
    journalEntries: site.posts.find({ layout: 'journal' }).sort('date', -1).limit(4),
  }) %>


  <%- partial('blog/pictures', {}) %>
</main>

<%- partial("footer", {}, { cache: true }) %>
