<%- partial('header') %>

<main class="page-main" role="main" id="main-content">
  <%- partial("blog/post-modern", { post: page }) %>
  <%- partial("blog/comments", { post: page}) %>
</main>

<%- partial("footer", {}, { cache: true }) %>
