<article class="container" id="work">
  <section class="highlight">
    <div class="cover">

    </div>

    <h1><%= _p('work') %></h1>

    <div class="summary"><%- markdown(theme.summary.work) %></div>

    <p class="read-more next">

    </p>
  </section>

  <aside>
    <h2><%= _p('more.work') %></h2>

    <ul>
     
    </ul>
  </aside>
</article>
