.contrasted body, .attention body {
    background-color: var(--dark-accent);
    color: #fff;
  }
  .contrasted strong, .attention strong {
    background: #fff;
    color: var(--dark-accent);
  }
  .contrasted em, .contrasted i, .contrasted a, .attention em, .attention i, .attention a {
    color: yellow;
  }

.attention body {
    background-color: #000;
  }
