.Mlkk4Q {
  left: 0;
  position: absolute;
  top: 0;
}
.F_wBfg {
  background: var(--4RaSjg);
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px var(--OuCkCQ);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  max-width: 256px;
  min-height: 24px;
  padding: 4px;
  pointer-events: none;
}
._2V1T4g {
  margin: 0 4px;
  overflow-wrap: anywhere;
}
.U14oZw {
  pointer-events: none;
}
._nNNQA {
  display: block;
}
.aSY8AA {
  fill: #252627;
}
.sk_amQ {
  fill: hsla(0, 0%, 100%, 0.15);
}
.UxWiaw {
  margin: -1px;
}
.kP_RVg {
  flex: none;
  font-size: calc(var(--__ULgQ) * 0.5);
  font-weight: 500;
  height: var(--__ULgQ);
  line-height: calc(var(--__ULgQ) - 4px);
  width: var(--__ULgQ);
}
.gpYRPA {
  font-size: var(--__ULgQ);
}
.VaW8_A {
  border-radius: 9999px;
}
.VaW8_A.cUFFRA {
  border-radius: 4px;
}
.yCT70Q {
  r: 50%;
}
.yCT70Q._2LVP_g {
  r: calc(50% - 1px);
  stroke-width: 2px;
  paint-order: fill;
}
.cUFFRA {
  border-radius: 4px;
}
.cUFFRA._2LVP_g {
  x: 1px;
  y: 1px;
  rx: calc((var(--__ULgQ) - 2px) * 0.1);
  ry: calc((var(--__ULgQ) - 2px) * 0.1);
  stroke-width: 2px;
  height: calc(var(--__ULgQ) - 2px);
  paint-order: fill;
  width: calc(var(--__ULgQ) - 2px);
}
.light {
  --FzoXNQ: #f0f1f5;
}
.dark {
  --FzoXNQ: #252627;
}
.n8XGZg {
  background: transparent 50% / cover no-repeat;
  background-clip: content-box;
  background-color: var(--FzoXNQ);
  border-radius: 9999px;
  box-sizing: border-box;
  display: block;
  font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system,
    BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  overflow: hidden;
}
.n8XGZg.P3N3Pw {
  border-radius: 4px;
}
.JwH6AA {
  border: 2px solid transparent;
}
.QJpRHw {
  box-shadow: inset 0 0 0 1px var(--OuCkCQ);
}
[dir="ltr"] ._1fLCfA,
[dir="rtl"] ._1fjYug {
  cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='33' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='currentColor' stroke='%23fff' stroke-width='1.5' d='M23.5 12.75h-9.8l3.1-3.1a1.5 1.5 0 1 0-2.12-2.11l-4.95 4.95a2.5 2.5 0 0 0 0 3.53l4.95 4.95a1.5 1.5 0 1 0 2.12-2.12l-3.1-3.1h9.79a1.5 1.5 0 0 0 0-3Z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='40' height='40' x='-3' y='-4' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix values='0 0 0 0 0.054902 0 0 0 0 0.0745098 0 0 0 0 0.0941176 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.054902 0 0 0 0 0.0745098 0 0 0 0 0.0941176 0 0 0 0.02 0'/%3E%3CfeBlend in2='effect1_dropShadow' result='effect2_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect2_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E")
      16 14,
    w-resize;
}
[dir="ltr"] ._1fjYug,
[dir="rtl"] ._1fLCfA {
  cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='33' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='currentColor' stroke='%23fff' stroke-width='1.5' d='M10.5 12.75h9.79l-3.1-3.1a1.5 1.5 0 1 1 2.12-2.11l4.95 4.95a2.5 2.5 0 0 1 0 3.53l-4.95 4.95a1.5 1.5 0 1 1-2.12-2.12l3.1-3.1H10.5a1.5 1.5 0 1 1 0-3Z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='40' height='40' x='-3' y='-4' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix values='0 0 0 0 0.054902 0 0 0 0 0.0745098 0 0 0 0 0.0941176 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='.5'/%3E%3CfeColorMatrix values='0 0 0 0 0.054902 0 0 0 0 0.0745098 0 0 0 0 0.0941176 0 0 0 0.02 0'/%3E%3CfeBlend in2='effect1_dropShadow' result='effect2_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect2_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E")
      16 14,
    e-resize;
}
/*# sourceMappingURL=sourcemaps/58d44ed12f55addb.ltr.css.map*/
