
.item[data-v-9841f9cd] {
  margin-top: 2rem;
  display: flex;
  position: relative;
}
.details[data-v-9841f9cd] {
  flex: 1;
  margin-left: 1rem;
}
i[data-v-9841f9cd] {
  display: flex;
  place-items: center;
  place-content: center;
  width: 32px;
  height: 32px;
  color: var(--color-text);
}
h3[data-v-9841f9cd] {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  color: var(--color-heading);
}
@media (min-width: 1024px) {
.item[data-v-9841f9cd] {
    margin-top: 0;
    padding: 0.4rem 0 1rem calc(var(--section-gap) / 2);
}
i[data-v-9841f9cd] {
    top: calc(50% - 25px);
    left: -26px;
    position: absolute;
    border: 1px solid var(--color-border);
    background: var(--color-background);
    border-radius: 8px;
    width: 50px;
    height: 50px;
}
.item[data-v-9841f9cd]:before {
    content: ' ';
    border-left: 1px solid var(--color-border);
    position: absolute;
    left: 0;
    bottom: calc(50% + 25px);
    height: calc(50% - 25px);
}
.item[data-v-9841f9cd]:after {
    content: ' ';
    border-left: 1px solid var(--color-border);
    position: absolute;
    left: 0;
    top: calc(50% + 25px);
    height: calc(50% - 25px);
}
.item[data-v-9841f9cd]:first-of-type:before {
    display: none;
}
.item[data-v-9841f9cd]:last-of-type:after {
    display: none;
}
}
